@media screen and (max-width: 576px){

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  body{
    overflow-x: hidden;
  }

  /* --------NAVBAR------ */

  header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 9999;
  }

  nav{
    position: absolute;
    bottom: 54px;
    left: 0;
    width: 100vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.827);
    z-index: 9999999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(2px);
    display: none;
  }

  .hamburguer{
    width: 100%;
    margin-right: .5rem;
  }
  
  .hamburguer-icon{
    color: #ffd000;
    
    display: flex;
    justify-content: end;
  }

  .close-icon{
    color: #ffd000;
    display: none;
    font-size: 2.2rem;
    justify-content: end;
  }

  .name-header{
    position: absolute;
    margin: 0;
    left: 10px;
    gap: .3rem;
  }

  .name-header h1{
    font-size: 1.7rem;
  }

  .light-mode{
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    color: rgb(255, 255, 255);
  }

  #flags{
    gap: 10px;
    display: none;
    margin: 0;
    position: relative;
    left: 50%;
  }

  .flags-item img{
    width: 25px;
  }

  .links-nav{
    width: 100%;
    height: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-link-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
  }

  .container-link-icon i{
    color: #ffd200;
    font-size: 2rem;
    display: block;
  }

  .container-link-icon a{
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
  }

  /* --------PROFILE------ */

  #profile{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: start;
  }

  .title-aboutme{
    font-size: 2.5rem;
  }

  .profile-container{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
    margin: 2rem 1rem;
    gap: 10px;
  }

  .pic-container{
    width: 80%;
    margin-bottom: 1rem;
  }

  .img-profile{
    width: 100%;
  }

  .section-text-p, 
  .section-text-p2{
    font-size: 2rem;
  }

  .title{
    font-size: 3rem;
  }

  /* --------ABOUT ME------ */

  #about-me{
    margin: 2rem 1rem;
  }

  .row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }

  .aboutme-sub-title{
    font-size: 1.3rem;
  }

  .aboutme-content{
    width: 100%;
    margin-top: .5rem;
  }

  .about-col-1{
    display: none;
  }

  .about-col-2{
    gap: 2rem;
  }

  .tab-titles{
    margin-top: 2rem;
  }

  .tab-content ul{
    margin: 0;
  }

  /* --------PROJECTS------ */

  #projects{
    width: 100%;
    margin: 0 2rem;
  }

  .container-title h3{
    margin-bottom: 1rem;
  }

  .layer p{
    font-weight: 400;
  }

  .title-projects{
    font-size: 2.5rem;
  }

  .projects-container{
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  .row-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 3rem;
  }

  .project-col-1, 
  .project-col-2,
  .project-col-3{
    width: 90%;
    margin: 0;
  }

  .project-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .layer{
  width: 100%;
   padding: 0;
   margin: 0;
  }

  .layer p{
    font-size: 16px;
    padding: 0 8px;
  }

  .project-col-1:hover .layer{
    height: 100%;
  }

  .project-col-2:hover .layer{
    height: 100%;
  }

  .header-card{
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .container-tools{
    margin: 0 auto;
    gap: 5px;
  }

  .container-tools span{
    font-size: 10px;
  }

  .container-title{
    margin: 0;
    margin-top: 8px;
  }

  #projects{
    margin: 0 2rem;
  }

  /* --------TECHNOLOGIES------ */

  #technologies{
    margin-top: 5rem;
    display: flex;
    align-items: center;
  }

  .carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    gap: 3rem;
  }

  /* --------SERVICES------ */

  #services{
    margin: 0 2rem;
    width: 100%;
    overflow: hidden;
  }

  .services-title{
    font-size: 2.5rem;
  }

  .services-header{
    margin: 0;
  }

  .container-card{
    display: flex;
    flex-direction: column;

    display: none;
  }

  .card-content{
    width: 75%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 25px 12px;
    text-align: start;
    cursor: default;
  }

  .accordion{
    display: block;
    width: 90%;
  }

  .card-accordion{
    margin: 2rem 0;
    padding: 20px 20px;
    box-shadow: 0px 8px 12px ;
  }
  
  .open-accordion{
    gap: .5rem;
  }

  .content-accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2.5rem;
    text-align: start;
    color: var(--content-accordion);
  }

  .open-accordion h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--title-accordion);
  }

  .header-accordion{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-accordion div{
    display: flex;
    align-items: center;
  }

  .header-accordion i{
    font-size: 2rem;
    color: var(--content-accordion);
  }

  .content-accordion{
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease;
  }

  .accordion .card-accordion.active .content-accordion{
    height: 10em;
  }

  .icon-accordion{
    transition: transform 0.5s ease-in-out;
  }

.rotate180 {
  transform: rotate(180deg);
}

  /* --------CONTACT------ */

  #contact{
    width: 100%;
    overflow: hidden;
  }

  .hr-section1{
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .hr-section2{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .container-inf{
    display: flex;
    flex-direction: column;
  }

  .title-contact{
    font-size: 3rem;
    margin: 0;
  }

  .arrow-up{
    bottom: 65px;
  }
}