@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-primary);
  overflow-x: hidden;
  transition: background-color 0.7s ease;
}


html {
  scroll-behavior: smooth;
}

:root{
  --body-primary: #141414;
  /* --------------PROFILE----------------- */
  --background-profile: #000000;
  --shadow-profile: #ffffffc8;
  --border: #000000;
  --text-secondary: #ffffff;
  --text-primary: #ffd000;
  --border-button-cv: #ffd000;
  --button-cv: #ffd000;
  --padding-icons-: #000000;
  --icons-socials: #ffffff;
  --border-btn-socials: #ffd000;
  --border-button-cv-hover: #ffffff;
  --button-cv-hover: #ffffff;

  /* --------------ABOUT----------------- */
  --border-about: #000000;
  --shadow-about: #000000;
  --title-about: #ffffff;
  --text-about: #9e9e9e;
  --link-tab-about: #ffd000;
  --li-tab-about: #ffffff;
  --title-link: rgb(255, 255, 255);

  /* --------------SKILLS----------------- */
  --btn-accordion:#ffffff;
  --theme-technologies: #000000dd;
  --text-secondary-skills: #9e9e9e;
  --text-primary-skills: #ffffff;
  --border-card-skill: #000000;
  --shadow-skill: #000000;
  --card-title-skill: #ffd000;
  --name-skill: #ffffff;
  --shadow-progress-skill: #8a89899d;
  --progress-skill: #00bbff;

   /* --------------PROJECTS----------------- */
   --technologies-project: #ffffff;
   --secondary-text-projects: #9e9e9e;
   --text-primary-projects: #ffffff;
   --shadow-projects:#000000;
   --border-projects: #000000;
   --name-layer-project: #000000;
   --layer-color-projets: #d4b113f1;
   --layer-title: #ffd000;
   --text-layer: #000000;

   /* --------------SERVICES----------------- */
   --secondary-text-services: #9e9e9e;
   --primary-text-services: #ffffff;
   --border-card-services: #000000;
   --title-card-services: #ffd000;
   --backgorund-modal-services: #000000dc;
   --shadow-services: #000000;
   --text-modal-content: #ffffff;
   --close-services: #ffd000;
   --content-accordion: #ffffff;
   --title-accordion: #ffd000;
   --icon-active-accordion:#ffd000; 

   /* --------------CONTACT----------------- */
   --icon-contact: #ffd200;;
   --text-icon-contact: #ffffff;
   --hr-contact: #ffffff;
   --text-secondary-contact: #9e9e9e;
   --border-button-contact: #ffffff;
   --shadow-contact: #000000;
   --title-contact: #ffd000;
   --background-contact: #000000;
   --text-decoration-contact: #ffffff;
   --text-button-contact: #ffffff;
   --hover-button-contact: #ffd000ed;

   --arrow-up: #ffd000;
}

.dark-theme{
  transition: background-color 0.7s ease;
  --background-profile: #ffd000;
  --shadow-profile: #000000;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --border-button-cv: #ffffff;
  --button-cv: #ffffff;
  --border: #ffd000;
  --border-btn-socials: #ffffff;
  /* --------------ABOUT----------------- */
  --body-primary: #ffffffb6;
  --border-about: #ffffff;
  --shadow-about: #000000;
  --title-about: #000000;
  --text-about: #565656;
  --link-tab-about: #ffb300;
  --li-tab-about: #000000;
  --title-link: rgb(0, 0, 0);

  /* --------------PROJECTS----------------- */
  --layer-title: #ffb300;
  --technologies-project: #000000;
  --secondary-text-projects: #626262;
  --text-primary-projects: #000000;
  --border-projects: #ffffff;
  --shadow-projects:#000000;

  /* --------------TECHNOLOGIES----------------- */
  --btn-accordion:#000000;
  --text-secondary-skills: #626262;
  --text-primary-skills: #000000;
  --name-skill: #000000;
  --border-card-skill: #ffffff;
  --shadow-skill: #000000;
  --card-title-skill: #ffb300;

  /* --------------SERVICES----------------- */
  --title-card-services: #ffb300;
  --secondary-text-services: #626262;
  --primary-text-services: #000000;
  --border-card-services: #ffffff;
  --text-modal-content: #ffffff;
  --close-services: #ffffff;
  --shadow-services: #000000;
  --close-services: #ffb300;
  --title-accordion: #ffb300;
  --content-accordion: #000000;
  --icon-active-accordion:#ffb300;

  /* --------------CONTACT----------------- */

  --background-contact: #ffd000;
  --border-button-contact: #ffffff;
  --hr-contact: #000000;
  --text-button-contact: #ffffff;
  --icon-contact: #000000;
  --text-icon-contact: #ffd000;
  --text-secondary-contact: #505050;
  --title-contact: #000000;
  --shadow-contact: #ffffff;
  --border-btn-contact: #000000;
  --btn-contact: #000000;
  --border-contact: #ffffff;
  --hover-button-contact: #000000ed;

  --arrow-up: #000000;
}

.background{
  --candlelight-50: #feffe7;
--candlelight-100: #fcffc1;
--candlelight-200: #feff86;
--candlelight-300: #fff941;
--candlelight-400: #ffec0d;
--candlelight-500: #ffdd00;
--candlelight-600: #d1a300;
--candlelight-700: #a67502;
--candlelight-800: #895b0a;
--candlelight-900: #744a0f;
--candlelight-950: #442704;
}




/* -------------------------DESKTOP NAV------------------- */

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000de;
  height: 8%;
  width: 100%;

  position: fixed;
  z-index: 999999999;
}

nav{
  display: flex;
  align-items: center;
  height: 100%;
}

.links-nav{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.name-header{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 0;
  margin-left: 8.2rem;
}

.name-header i{
  font-size: 2rem;
  color: whitesmoke;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.name-header h1{
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.link-a-nav {
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
}

.link-a-nav::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #ffd000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.link-a-nav:hover::after{
  width: 100%;
}

.container-link-icon i{
  display: none;
}

#flags{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: absolute;
  right: 0;
  margin-right: 10.5rem;
  transition: transform 0.5s ease, border-color 0.5s ease;
}

.flags-item{
  transition: transform 0.5s ease, border-color 0.5s ease;
}

.flags-item img{
  width: 27px;
  display: block;
  cursor: pointer;
  transition: transform 0.5s ease, border-color 0.5s ease;
}

.selected-flag{
  transform: scale(1.2);
  border: solid 2px #ffd200;
  border-radius: 50%;
  transition: transform 0.5s ease, border-color 0.5s ease;
}

/* -------------------------HAMBURGUER NAV------------------- */

.hamburguer-icon{
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
}

.close-icon{
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
}


/* -------------------------PROFILE------------------- */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 4vh;
  z-index: 1;
  position: relative;

  background-color: var(--background-profile);
  transition: background-color 0.7s ease;
  animation: fadeIn 3s ease 1;
}

.profile-container{
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0px 4px 8px var(--shadow-profile);
  margin-top: 2rem;
  backdrop-filter: blur( 2px );
}

.pic-container{
  width: 320px;
  height: auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: var(--border-btn-socials) 5px solid;
  overflow: hidden;
  display: flex;
  align-items: center;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.img-profile{
  width: 100%;
}

.section-text{
  align-self: center;
  text-align: center;
}

.section-text-p{
  font-size: 1.5rem;
  color: var(--text-secondary);
  text-shadow: 2px 2px 4px #888888;
}

.section-text-p2{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  text-shadow: 2px 2px 4px #888888;
}

.title{
  font-size: 4rem;
  color: var(--text-primary);
}

.btn-cv{
  font-weight: 600;
  transition: all 300ms ease, background-color 0.5s ease, color 0.5s ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  border: var(--border-button-cv) 2px solid;
  color: var(--button-cv);
  cursor: pointer;
  background-color: var(--border);
}

.btn-cv:hover{
  background-color: var(--hover-button-contact);
  border-color: var(--border-button-cv-hover);
  color: var(--button-cv-hover);
  transform: translateY(-5px);
  transform: scale(1.1);
}

.socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.icon{
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
}

.icon-linkedin, 
.icon-github{
  transition: transform 0.2s ease-in-out, box-shadow 0.3s;
}

.icon-linkedin{
  padding: 4px;
  background-color: var(--padding-icons-);
  color: var(--icons-socials);
  border-radius: 50%;
  border: var(--border-btn-socials) 2px solid;
}

.icon-github{
  padding: 4px;
  background-color: var(--padding-icons-);
  color: var(--icons-socials);
  border-radius: 50%;
  border: var(--border-btn-socials) 2px solid;
}

.icon-linkedin:hover{
  transform: translateY(-5px);
  transform: scale(1.3);
}

.icon-github:hover{
  transform: translateY(-5px);
  transform: scale(1.3);
}

/* -------------------------ABOUT ME------------------- */

#about-me{
  min-height: 100vh;
  margin: 2rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  border: 1px solid var(--border-about);
  box-shadow: 0px 4px 8px var(--shadow-about);
  padding: 20px;
}

.aboutme-sub-title{
  font-size: 1.3rem;
}

.about-col-1{
  flex-basis: 40%;
  display: flex;
  align-items: center;
}

.title-aboutme{
  font-size: 3rem;
  font-weight: 400;

  color: var(--title-about);
}

.about-col-1 img{
  width: 100%;
}

.about-col-2{
  margin-left: 2rem;
  flex-basis: 60%;
}

.about-col-2 p{
  color: var(--text-about);
}


.tab-titles{
  display: flex;
  margin: 20px 0;
}

.tab-titles p{
  color: var(--title-link);
}

.tab-links{
margin-right: 50px;
font-size: 15px;
font-weight: bold;
position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: var(--link-tab-about);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-content ul{
  gap: 2rem;
}

.tab-content ul li span{
  color: var(--li-tab-about);
  font-size: 15px;
  font-weight: 500;
}

.tab-content ul li{
  color: var(--link-tab-about);
  margin: 1.5rem 0;
  display: block;
}

.tab-content ul li a{
  text-decoration: none;
  gap: 2rem;
}

.tab-content{
  display: none;
  text-align: start;
}

.tab-content.active-tab{
  display: block;
}

#experiencia ul {
  column-count: 2; /* Divide en 2 columnas */
  column-gap: 20px; /* Espacio entre columnas */
  max-width: 300px; /* Ancho máximo de cada columna */
  text-align: start;
  
}

#experiencia li {
  margin: 0 0 10px; /* Espacio entre elementos de la lista */
}

/* -------------------------PROJECTS------------------- */

#projects{
  margin: 0 15rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div-text-projects{
  margin-bottom: 2rem;
}

.div-text-projects p{
  color: var(--secondary-text-projects);
}

.title-projects{
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-primary-projects);
}

.row-projects{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.project-col-1, 
.project-col-2,
.project-col-3{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-projects);
  box-shadow: 0px 4px 8px var(--shadow-projects);
}

.project-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

.container-tools{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-left: 10px;
  margin-top: 10px;
}

.container-tools span{
  font-size: 11px;
  color: var(--technologies-project);
  border: solid 1px var(--technologies-project);
  border-radius: 7px;
  padding: 10px;
}

.container-title{
  text-align: start;
  font-size: 18px;
  color: var(--layer-title);
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 1rem;
}

.layer{
  height: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.904), var(--layer-color-projets));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;

  transition: height 0.5s;
}

.layer p{
  color: var(--text-layer);
  font-size: 18px;
  font-weight: 400;
}

.icon-project{
  font-size: 2rem;
  padding: 10px;
  color: var(--text-layer);
  border-radius: 50%;

  transition: transform 0.2s ease-in-out;
}

.icon-project:hover{
  transform: translateY(-5px);
  transform: scale(1.3);
}

.project-col-1:hover img{
  transform: scale(1.1);
}

.project-col-1:hover .layer{
  height: 100%;
}

.project-col-2:hover img{
  transform: scale(1.1);
}

.project-col-2:hover .layer{
  height: 100%;
}

.project-col-3:hover img{
  transform: scale(1.1);
}

.project-col-3:hover .layer{
  height: 100%;
}


.container-icon{
  display: flex;
}

/* -------------------------TECHNOLOGIES------------------- */

#technologies{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-text-experience{
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.div-text-experience h2{
  font-size: 3rem;
  font-weight: 400;

  color: var(--text-primary-skills);
}

.div-text-experience p{
  color: var(--text-secondary-skills);
}

.carousel-container{  
  width: 100%;
}

.carousel{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 15rem;
}

.skills-col-1, 
.skills-col-2, 
.skills-col-3{
  border: 1px solid var(--border-card-skill);
  box-shadow: 0px 4px 8px var(--shadow-skill);
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

.skills-subtitle{
  color: var(--card-title-skill);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skills-article-container{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills-article-container article{
  width: 25%;
}

.icon-article-skills{
  width: 50px;
  height: 50px;
}

.skill-name{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  color: var(--name-skill);
}

.icon-skill{
  font-size: 3.5rem;
}

.logo-img-skill{
  width: 35px;
  height: 35px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

/* -------------------------SERVICES------------------- */

.accordion{
  display: none;
}

#services{
  margin: 0 22rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-container{
  width: 100%;
}

.services-header{
  margin-bottom: 2rem;
}

.services-title{
  font-size: 3rem;
  font-weight: 400;

  color: var(--primary-text-services);
}

.services-sub-title{
  color: var(--secondary-text-projects);
}

.container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.container-card-animation{
  opacity: 1;
  transform: scale(1);
}



.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-card-services);
  box-shadow: 2px 4px 8px var(--shadow-services);
  padding: 0 20px;
  width: 100%;
  height: 350px;
  
  transition: transform 0.4s;
}

.card h2{
  color: var(--title-card-services);
}

.card p{
  color: var(--primary-text-services);
}

.card p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.1);
}

.disabled-hover:hover{
  transform: none;
  transition: none;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modal-title{
  color: var(--title-card-services);
}

.card-content{
  border-radius: 10px;
  border: 1px solid white;
  background-color: var(--backgorund-modal-services);
  position: relative;
  z-index: 10;
  top: 50%;
  width: 30%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 20px;

  cursor: default;
}

.modal-content-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 0.5rem;
}

.modal-content-text p{
  color: var(--text-modal-content);
}

.container-check{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close{
  float: right;
  font-size: 2rem;
  cursor: pointer;

  color: var(--close-services);
}

.icon-services{
  font-size: 2rem;
  color: var(--primary-text-services);
}

/* -------------------------CONTACT------------------- */

#contact{
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-contact);
  position: relative;
  transition: background-color 0.7s ease;
}

.hr-section1{
  width: 69%;
  margin-top: 0;
  margin-bottom: 3rem;
  border-color: var(--hr-contact);
}

.hr-section2{
  width: 69%;
  margin-top: 3rem;
  border-color: var(--hr-contact);
}

.header-contact{
  margin-bottom: 2rem;
}

.title-contact{
  font-size: 3rem;
  font-weight: 400;

  text-align: center;
  color: var(--title-contact);
}

.subtitle-contact{
  color: var(--text-secondary-contact);
  text-align: center;
}

.container-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-inf a {
  text-decoration: none;
  transition: transform 0.5s;
  border-radius: 15px;
}

.container-inf a:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-contact);
  text-decoration-skip-ink: auto;
  text-decoration-line: underline;
  transform: scale(1.1);
}

.container-inf{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container-inf div{
  border: 1px solid var(--border-button-contact);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.container-inf div:hover {
  background-color: var(--hover-button-contact);
}

.container-inf div p{
  color: var(--text-button-contact);
  font-size: 18px;
}

.inf-contact{
  display: flex;
  align-items: center;
  gap: 6px;
}

.inf-contact p{
  font-size: 18px;
  color: var(--text-secondary-contact);
}

.img-contact{
  width: 30px;
}

.container-contact-inf{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

.icon-contact{
  font-size: 2rem;
  color: var(--icon-contact);
}

.container-contact-inf{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.arrow-up{
  position: absolute;
  bottom: 10%;
}

.arrow-up i{
  font-size: 3rem;          
  z-index: 5;   
  cursor: pointer;
  color: var(--arrow-up);
}