@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-primary);
}


html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

:root{
  --body-primary: #10022b;
  /* --------------PROFILE----------------- */
  --border: #000000;
  --text-secondary: #ffffff;
  --text-primary: #9d4edd;
  --border-button-cv: #ffffff;
  --padding-icons-: #000000;
  --icons-socials: #ffffff;

  /* --------------ABOUT----------------- */
  --border-about: #000000;
  --shadow-about: #000000;
  --title-about: #ffffff;
  --text-about: #929292;
  --link-tab-about: #9d4edd;
  --li-tab-about: #ff00fb;

  /* --------------SKILLS----------------- */
  --text-secondary-skills: #929292;
  --text-primary-skills: #ffffff;
  --border-card-skill: #000000;
  --shadow-skill: #000000;
  --card-title-skill: #ff00fb;
  --name-skill: #ffffff;
  --shadow-progress-skill: #8a89899d;
  --progress-skill: #ff00fb;

   /* --------------PROJECTS----------------- */
   --secondary-text-projects: #929292;
   --text-primary-projects: #ffffff;
   --border-projects: #000000;
   --name-layer-project: #000000;
   --layer-color-projets: #ff00fb;
   --layer-title: #9d4edd;

   /* --------------SERVICES----------------- */
   --secondary-text-services: #929292;
   --primary-text-services: #ffffff;
   --border-card-services: #000000;
   --title-card-services: #9d4edd;
   --backgorund-modal-services: #10022b;

   /* --------------CONTACT----------------- */
   --icon-contact: #9d4edd;
   --text-icon-contact: #ffffff;
   --text-secondary-contact: #929292;
   --border-contact: #000000;
   --shadow-contact: #ff00fb;
   --title-contact: #ffffff;
   --border-btn-contact: #929292;
   --btn-contact: #ffffff;
}

.dark-theme{
  /* --------------ABOUT----------------- */
  --body-primary: #ffffff;
  --border-about: #000000;
  --shadow-about: #000000;
  --title-about: #000000;
  --text-about: #7a7a7a;
  --link-tab-about: #9d4edd;
  --li-tab-about: #ff00fb;

  /* --------------SKILLS----------------- */
  --text-secondary-skills: #626262;
  --text-primary-skills: #000000;
  --name-skill: #000000;

  /* --------------PROJECTS----------------- */
  --secondary-text-projects: #626262;
  --text-primary-projects: #000000;
  --name-layer-project: #000a72;

  /* --------------SERVICES----------------- */
  --secondary-text-services: #626262;
  --primary-text-services: #000000;

  /* --------------CONTACT----------------- */
  --icon-contact: #000000;
  --text-icon-contact: #9d4edd;
  --text-secondary-contact: #000000;
  --title-contact: #000000;
  --shadow-contact: #000000;
  --border-btn-contact: #000000;
  --btn-contact: #000000;
}

.dark-mode{
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}


/* -------------------------DESKTOP NAV------------------- */

#desktop-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
}

.link-a-nav {
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
}

.link-a-nav::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.link-a-nav:hover::after{
  width: 100%;
}

/* -------------------------HAMBURGUER NAV------------------- */

#hamburguer-nav{
  display: none;
}

.hamburguer-menu{
  position: relative;
  display: inline-block;
}

.hamburguer-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburguer-icon span{
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li{
  list-style: none;
}

.menu-links.open{
  max-height: 300px;
}

.hamburguer-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburguer-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburguer-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburguer-icon span:first-child{
  transform: none;
}

.hamburguer-icon span:first-child{
  opacity: 1;
}

.hamburguer-icon span:first-child{
  transform: none;
}

/* -------------------------PROFILE------------------- */

#profile {
  background-image: url(../assets/pexels-pixabay-219692.jpg), none;
  background-size: cover, auto;
  background-repeat: no-repeat;
  background-position: center bottom, initial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 4vh;
  z-index: 1;

  position: relative;
}

.profile-container{
  gap: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--border);
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
  margin-top: 2rem;

  backdrop-filter: blur(2px);
}

.pic-container{
  width: 350px;
}

.img-profile{
  width: 100%;
}

.section-text{
  align-self: center;
  text-align: center;
}

.section-text-p{
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.section-text-p2{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

.title{
  font-size: 4rem;
  color: var(--text-primary);
}

.btn-cv{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  border: var(--border-button-cv) 0.1rem solid;
  color: var(--icons-socials);
  cursor: pointer;
  background-color: var(--border);
}

.btn-cv:hover{
  box-shadow: 0px 4px 8px var(--icons-socials);
}

.socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.icon{
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
}

.icon-linkedin, .icon-github{
  transition: transform 0.2s ease-in-out, box-shadow 0.3s;
}

.icon-linkedin{
  padding: 4px;
  background-color: var(--padding-icons-);
  color: var(--icons-socials);
  border-radius: 50%;
}

.icon-github{
  padding: 4px;
  background-color: var(--padding-icons-);
  color: var(--icons-socials);
  border-radius: 50%;
}

.icon-linkedin:hover{
  transform: translateY(-5px);
  transform: scale(1.3);
}

.icon-github:hover{
  transform: translateY(-5px);
  transform: scale(1.3);
}

/* -------------------------SOBRE MI------------------- */

#about-me{
  min-height: 100vh;
  margin: 0 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  border: 1px solid var(--border-about);
  box-shadow: 0px 4px 8px var(--shadow-about);
  padding: 20px;
}

.about-col-1{
  flex-basis: 33%;
}

.title-aboutme{
  font-size: 3rem;
  font-weight: 400;

  color: var(--title-about);
}

.about-col-1 img{
  width: 100%;
}

.about-col-2{
  margin-left: 2rem;
  flex-basis: 65%;
}

.about-col-2 p{
  color: var(--text-about);
}


.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
margin-right: 50px;
font-size: 15px;
font-weight: bold;
color: var(--link-tab-about);
cursor: pointer;
position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: var(--link-tab-about);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-content ul li span{
  color: var(--li-tab-about);
  font-size: 15px;
}

.tab-content ul li{
  color: var(--title-about);
  margin: 10px 0;
}

.tab-content{
  display: none;
}

.tab-content.active-tab{
  display: block;
}

/* -------------------------HABILIDADES------------------- */

#skills{
  min-height: 100vh;
  margin-top: 2rem;
  margin: 0 10rem;
}

.div-text-experience{
  text-align: center;
  margin-bottom: 2rem;
}

.div-text-experience p{
  color: var(--text-secondary-skills);
}

.row-skills{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title-skills{
  font-size: 3rem;
  font-weight: 400;

  color: var(--text-primary-skills);
}

.skills-col-1, 
.skills-col-2, 
.skills-col-3{
  border: 1px solid var(--border-card-skill);
  box-shadow: 0px 4px 8px var(--shadow-skill);
  padding: 20px;
  padding: 1.5rem;
  text-align: center;
  margin: 0 1rem;
  width: 30%;
  transition: transform 0.3s;
}

.skills-col-1:hover,
.skills-col-2:hover,
.skills-col-3:hover{
  transform: scale(1.1);
}

.skills-subtitle{
  color: var(--card-title-skill);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skills-article-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon-article-skills{
  width: 50px;
  height: 50px;
}

.skill-name{
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--name-skill);
}

.skill-progress{
  border-radius: 5px;
  width: 100%;
  height: 7px;
  background-color: var(--shadow-progress-skill); 
  margin-top: 1rem;
}

.progress{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: var(--progress-skill);
  transition: width 1.5s ease-in-out;

  position: static;
}

.percentage{
  width: 10%;
  position: relative;
  bottom: 20px;
  left: 95%;

  font-size: 11px;
  font-weight: 300;
  color: var(--text-primary-skills);
}

.icon-skill{
  font-size: 1.5rem;
}

.logo-img-skill{
  width: 22px;
  height: 20px;
}

.skills-article-ring-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  

  width: 100%;
}

.skills-article-ring-container article {
  width: 45%;
}

.div-ring-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.progress-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
}

.progress-ring-background {
  fill: transparent;
  stroke: var(--shadow-progress-skill);
  stroke-width: 5;
}

.progress-ring-circle {
  fill: transparent;
  stroke: var(--progress-skill);
  stroke-width: 5;
  stroke-dasharray: 314;
  stroke-dashoffset: 157;
  transition: stroke-dashoffset 1.5s ease-in-out;
}

.percentage-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 300;
  color: var(--name-skill);
}

.skill-ring-name{
  font-size: 13px;

  color: var(--name-skill);
}

article{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

/* -------------------------PROYECTS------------------- */

#proyects{
  margin: 0 15rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div-text-proyects{
  margin-bottom: 2rem;
}

.div-text-proyects p{
  color: var(--secondary-text-projects);
}

.tilte-projects{
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-primary-projects);
}

.row-proyects{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.proyect-col-1, .proyect-col-2{
  height: auto;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-projects);
  box-shadow: 0px 4px 8px var(--border-projects);
}

.proyect-img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}

.layer{
  height: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.63), var(--layer-color-projets));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;

  transition: height 0.5s;
}

.layer h3{
  color: var(--name-layer-project);
}

.layer p{
  color: var(--text-primary-projects);
}

.icon-proyect{
  font-size: 2rem;
  padding: 10px;
  color: var(--border-projects);
  border-radius: 50%;

  transition: transform 0.2s ease-in-out;
}

.icon-proyect:hover{
  transform: translateY(-5px);
  transform: scale(1.3);
}

.layer h3{
  font-weight: 500;
  margin-bottom: 1rem;
}

.proyect-col-1:hover img{
  transform: scale(1.1);
}

.proyect-col-1:hover .layer{
  height: 100%;
}

.proyect-col-2:hover img{
  transform: scale(1.1);
}

.proyect-col-2:hover .layer{
  height: 100%;
}

.container-icon{
  display: flex;
  margin-top: 1rem;
}

/* -------------------------SERVICES------------------- */

#services{
  margin: 0 15rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-header{
  margin-bottom: 2rem;
}

.services-title{
  font-size: 3rem;
  font-weight: 400;

  color: var(--primary-text-services);
}

.container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--border-card-services);
  box-shadow: 2px 4px 8px var(--border-card-services);
  padding: 0 20px;
  width: 200px;
  height: 340px;
  
  transition: transform 0.4s;
}

.card h2{
  color: var(--title-card-services);
}

.card p{
  color: var(--primary-text-services);
}

.card p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.1);
}

.disabled-hover:hover{
  transform: none;
  transition: none;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modal-title{
  color: var(--title-card-services);
}

.card-content{
  border-radius: 10px;
  background-color: var(--backgorund-modal-services);
  position: relative;
  z-index: 10;
  top: 50%;
  width: 30%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 20px;

  cursor: default;
}

.modal-content-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 0.5rem;
}

.container-check{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close{
  float: right;
  font-size: 2rem;
  cursor: pointer;

  color: var(--primary-text-services);
}

.icon-services{
  font-size: 2rem;
  color: var(--primary-text-services);
}

/* -------------------------CONTACT------------------- */

#contact{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 15rem;
}

.row-contact{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4rem;
}

.contact-col-1{
  display: flex;
  flex-direction: column;
  
  padding: 2rem 0;
}

.contact-col-2{
  border: 1px solid var(--border-contact);
  box-shadow: 0px 8px 12px var(--shadow-contact);
  padding: 3rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-contact{
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.container-contact-inf{
  display: flex;
  margin-top: 1rem;
}

.icont-inf{
  margin-right: 1rem;
}

.inf-contact{
  text-align: start;
}

.inf-contact h4{
  font-size: 20px;
  color: var(--text-icon-contact);
}

.inf-contact p{
  font-size: 15px;
  color: var(--text-secondary-contact);
}

.icon-contact{
  font-size: 2.5rem;
  color: var(--icon-contact);
}

.text-area-contact{
  resize: none;
  height: 150px;
  width: 100%;
  width: 100%;

  border-color: black;

  color: var(--text-icon-contact);
  background-color: transparent;
}

.text-area-contact::placeholder{
  font-size: 16px;
  padding-top: 10px;

  color: var(--text-secondary-contact);
}

.container-form-1{
  display: flex;
  gap: 0 10px;
}

input{
  height: 50px;
  width: 100%;

  border-color: black;

  color: var(--text-icon-contact);
  background-color: transparent;
}

input::placeholder {
  font-size: 16px;

  padding: 10px;

  color: var(--text-secondary-contact);
}

.btn-contact{
  width: 25%;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;

  background-color: transparent;
  margin-top: 1.5rem;
  border: 1px solid var(--border-btn-contact);
  color: var(--btn-contact);

  transition: transform 0.4s;
}

.btn-contact:hover{
  box-shadow: 0px 4px 8px var(--border-contact);
  transform: scale(1.07);
}

.title-contact{
  font-size: 3rem;
  font-weight: 400;

  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--title-contact);
}

.confirmation-mg{
  color: #2cd10b;
  font-size: 14px;
  display: none;
}

.arrow-up{
  position: relative;
}

.arrow-up i{
  font-size: 3rem;
  position: absolute; 
  bottom: 10px;       
  right: 30px;        
  z-index: 5;   
  cursor: pointer;
  color: var(--text-icon-contact);
}
